{% extends 'base.html' %}
{% load staticfiles %}

{% block main %}

            <h1 class="masthead">Supernova Tracker</h1>
            <p class="lead">
              Follow these exploding stars, in distant galaxies and help scientists at Las Cumbres Observatory.
            </p>
            <p>Click one the objects below to trigger telescope observations.</p>
            <div class="panels-wrapper">
              <div class="row panels">
                {% for object in objects %}
                <div class="col-sm-4 panel-item">
                  <a href="{% url 'supernova_detail' pk=object.id %}" class="panel panel-image">
                    <div class="panel-icon">
                      <i class="fa fa-cog icon"></i>
                    </div>
                    <div class="panel-heading"><img height="141" src="{{object.image.url}}" alt="{{object.name}}" class="img-responsive-sm"></div>
                    <div class="panel-body">
                      <h3 class="panel-title">{{object.name}}</h3>
                      <p>{{object.teaser}}</p>
                    </div>
                  </a>
                </div>
                {% endfor %}
              </div>
            </div>
{% endblock %}
