{% extends 'base.html' %}
{% load staticfiles %}

{% block main %}

            <h1 class="masthead">Asteroid Tracker</h1>
            <p class="lead">
              Our international campaign for Asteroid Day 2016 to observe Near Earth Asteroids with Las Cumbres Observatory has now ended.<br/>Click the asteroids below to see timelapses created by over 500 citizen scientists!</p>
            <div class="panels-wrapper">
              <div class="row panels">
                {% for asteroid in asteroids %}
                <div class="col-sm-6 panel-item">
                  <a href="{% url 'asteroid_detail' pk=asteroid.id %}" class="panel panel-image">
                    <div class="panel-icon">
                      <i class="fa fa-cog icon"></i>
                    </div>
                    <div class="panel-heading"><img height="141" src="{% static "static/images/" %}{{asteroid.image}}" alt="{{asteroid.name}}" class="img-responsive-sm"></div>
                    <div class="panel-body">
                      <h3 class="panel-title">{{asteroid.name}}</h3>
                      <p>{{asteroid.teaser}}</p>
                    </div>
                  </a>
                </div>
                {% endfor %}
              </div>
            </div>
{% endblock %}
