{% extends 'base.html' %}

{% block main %}


<div class="row">
  <div class="col-md-2">
  </div>
  <div class="col-md-6">
    <h1>{{observation.asteroid.name}}</h1>

  {% if observation.asteroid.num_observations > 0 %}
  <video width="100%" controls>
     <source src="{{observation.asteroid.timelapse_url}}" type="video/mp4" >
  Your browser does not support the video tag. Try <a href="observation.asteroid.timelapse_url">downloading</a> instead.
  </video>
  <p class="caption">Timelapse of observations requested by citizen scientists. Made from {{observation.asteroid.num_observations}} images, last updated {{observation.asteroid.last_update}}</p>
  {% else %}
  <p class="lead">
    <i class="glyphicon glyphicon-time big-icon"></i><br/>
    Currently waiting for observations to complete.</p>
{% endif %}
<h3>Information</h3>
<p>{{observation.asteroid.information|safe}}</p>
</div>
<div class="col-md-4">
    <h3>Your Observations</h3>
      {% for frame in frames%}
      <a href="{{frame.url}}"><img src="{{frame.url}}" class="img-responsive img-thumbnail"/></a><br/>
    {% empty %}
    <p><i class="glyphicon glyphicon-time"></i>
      Sorry, we're still waiting for images for you.</p>
    {% endfor%}

    <p>
      <table class="table">
        <tr>
          <td>Status</td><td>{{observation.get_status_display}}</td>
        </tr>
        <tr>
          <td>Last Update</td><td>{{observation.last_update}}</td>
        </tr>
      </table>
    </p>

</div>
</div>

{% endblock %}
