{% extends 'base.html' %}

{% block main %}


<div class="row">
  <div class="col-md-2">
  </div>
  <div class="col-md-6">
    <h1>{{observation.supernova.name}}</h1>

  {% if observation.supernova.num_observations > 0 %}
  <video id="sn-video" class="video-js" controls preload="auto" width="640" height="264" poster="{{supernova.image.url}}" data-setup="{}">
  <source src="{{observation.supernova.timelapse_url}}" type='video/mp4'>
  <p class="vjs-no-js">
    Your browser does not support the video tag. Try <a href="{{observation.supernova.timelapse_url}}">downloading</a> instead.
  </p>
</video>
  <p class="caption">Timelapse of observations requested by citizen scientists. Made from {{observation.supernova.num_observations}} images, last updated {{observation.supernova.last_update}}</p>
  {% else %}
  <p class="lead">
    <i class="glyphicon glyphicon-time big-icon"></i><br/>
    Currently waiting for observations to complete.</p>
{% endif %}
<h3>Information</h3>
<p>{{observation.supernova.information|safe}}</p>
</div>
<div class="col-md-4">
    <h3>Your Observations</h3>
      {% for frame in frames%}
      <a href="{{frame.url}}"><img src="{{frame.url}}" class="img-responsive img-thumbnail"/></a><br/>
    {% empty %}
    <p><i class="glyphicon glyphicon-time"></i>
      Sorry, we're still waiting for images for you.</p>
    {% endfor%}

    <p>
      <table class="table">
        <tr>
          <td>Status</td><td>{{observation.get_status_display}}</td>
        </tr>
        <tr>
          <td>Last Update</td><td>{{observation.last_update}}</td>
        </tr>
      </table>
    </p>

</div>
</div>

{% endblock %}
